<!DOCTYPE html>
<html>
<head>
	<title>Graph plotter</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="header">Graph Plotter</h1>
	<form action="/" method="post">
		<h3>Select the type of graph</h3>
		<ul class="list">
			<li>Line</li>
			<li>Bar Graph</li>
			<li>Pie Chart</li>
			<li>Histogram</li>
			<li>Scatter</li>
		</ul>
		<input type="text" name="kind" placeholder="input a,b,c,d,e">
		<h3>Input points on x-axis</h3>
		<input type="text" name="Xpoints" placeholder="input x points">
		<h3>Input points on y-axis</h3>
		<input type="text" name="Ypoints" placeholder="input y points">
		<input type="submit" name="submit" placeholder="input y points" style="margin-top: 25px;">
	</form>
</body>
</html>